<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Veterinária Vida Animal</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<nav class="header-content container">
    <div class="header-logo">
        <img src="../static/images/logo.jpg" alt="">
    </div>
    <div class="header-a">
        <a href="index.html" class="header-button">
            Home
        </a>
        <a href="" class="header-button" target="_blank">
            Quem Somos
        </a>
        <a href="" class="header-button">
            Especialidades
        </a>
        <a href="agendamento.html" class="header-button" >
            Agendamento
        </a>
        <a href="cadastro.html" class="header-button">
            Cadastro
        </a>
        <a href="#feedbacks" class="header-button">
            Feedbacks
        </a>
    </div>
</nav>
<section class="home-cadastro">
    <div class="card-cadastro dono">
        <a href="cadastro-dono.html">Cadastro Dono</a>
    </div>
    <div class="card-cadastro animal">
        <a href="cadastro-animal.html">Cadastro Pet</a>
    </div>
</section>
<footer class="site-footer">
    <div class="container-footer">
        <p>© 2025 Veterinária Pet Plus. Todos os direitos reservados.</p>
        <p>Contato: (11) 99675-1389 | Rua Afonso Pena, 452 - São Paulo, SP</p>
        <p>
            <a href="mailto:contato@petplus.com.br">contato@petplus.com.br</a> |
            <a href="#">Política de Privacidade</a> |
            <a href="#">Termos de Uso</a>
        </p>
    </div>
</footer>
</body>
</html>