<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clínica Veterinária Vida Animal</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>


<nav class="header-content container" th:fragment="cabecalho">
    <div class="header-logo">
        <img src="images/logo.jpg" alt="">
    </div>
    <div class="header-a">
        <a href="" class="header-button">
            Home
        </a>
        <a href="" class="header-button" target="_blank">
            Quem Somos
        </a>
        <a href="" class="header-button">
            Especialidades
        </a>
        <a href="agendamento.html" class="header-button" >
            Agendamento
        </a>
        <a href="cadastro.html" class="header-button">
            Cadastro
        </a>
        <a href="#feedbacks" class="header-button">
            Feedbacks
        </a>
    </div>
</nav>
<footer class="site-footer" th:fragment="footer">
    <div class="container-footer">
        <p>© 2025 Veterinária Pet Plus. Todos os direitos reservados.</p>
        <p>Contato: (11) 99675-1389 | Rua Afonso Pena, 452 - São Paulo, SP</p>
        <p>
            <a class="footer-info" href="mailto:contato@petplus.com.br">contato@petplus.com.br</a> |
            <a class="footer-info" href="#">Política de Privacidade</a> |
            <a class="footer-info" href="#">Termos de Uso</a>
        </p>
    </div>
</footer>
</body>
</html>